* {
  margin: 0;
  padding: 0;
}
body {
  margin: auto;
  padding: auto;
  /* background-color: #49fc08; */
}
html {
  position: relative;
}
body,
html {
  height: 100%;
  width: 100%;
}
a:hover {
  color: #067ded;
  text-decoration: none;
}
/* Awal Header  */
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}
#mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 9999;
  padding-bottom: 12px;
  background-color: #0563bb;
}
#offcanvasDarkNavbar {
  opacity: 0.9;
}
@media (max-width: 992px) {
  #header .nav-menu {
    display: none;
  }
  #fotodepan {
    height: 100%;
    width: 70%;
    clip-path: circle();
    position: center;
  }
  #hero .letters {
    font-size: 30px;
  }
  #hero .social-links a {
    margin-right: 13px;
    margin-left: 7px;
  }
  #hero .social-links a .facebook {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  #mobile {
    display: none;
  }
  #fotodepan {
    clip-path: polygon(25% 0%, 100% 0%, 100% 99%, 0% 100%);
  }
  .nav-menu a {
    width: 56px;
  }
  .nav-menu a span {
    display: none;
    color: #fff;
  }
}
/* Akhir  Header  */

/* Awal Navbar  */
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}
.nav-menu a {
  display: flex;
  align-items: center;
  color: #45505b;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #f2f3f5;
  height: 56px;
  width: 100%;
  overflow: hidden;
}

.nav-menu a i {
  font-size: 20px;
}

.nav-menu a span {
  padding: 0 5px 0 7px;
  color: #45505b;
}
.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  color: #fff;
  background: #0563bb;
}

.nav-menu a:hover span,
.nav-menu .active > a span,
.nav-menu li:hover > a span {
  color: #fff;
}

.nav-menu a:hover,
.nav-menu li:hover > a {
  width: 100%;
  color: #fff;
}

.nav-menu a:hover span,
.nav-menu li:hover > a span {
  display: block;
}

/* Akhir Navbar  */

/* Awal Index */
#hero {
  width: 100%;
  height: 100vh;
}
#hero .social-links {
  margin-top: 30px;
}
#hero h1 {
  font-family: "Noto Sans JP", sans-serif;
}

#hero .social-links a {
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

#hero .social-links a:hover {
  color: #f30606;
}
@media (max-width: 992px) {
  #hero {
    text-align: center;
    padding-top: 50%;
    align-content: center;
    margin: 0 auto;
  }
}
@media (min-width: 922px) {
  #hero {
    /* padding-bottom: 10%; */
    margin: 0 auto;
    padding-left: 3rem;
  }
}

/* Akhir Index */

/* Awal About */
#about {
  padding-top: 5rem;
  background-color: #ff3cac;
  background-image: linear-gradient(225deg, #fefefe 0%, #c28cf2 50%, #2b86c5 80%);
  height: auto;
}
#about a {
  color: black;
  text-decoration: none;
}
/* Button  */
.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #000481;
  border-radius: 0.6em;
  color: #030303;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.btn:hover,
.btn:focus {
  color: #fff;
  outline: 0;
}
.fourth {
  border-color: #000671;
  color: rgb(0, 0, 0);
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
}
.fourth:hover {
  background-position: 0;
}
/* Akhir Button  */
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #e4edf9;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
  width: 100%;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
}
.card-body {
  background-color: transparent;
  border: 0 solid transparent;
}
#resume {
  padding-top: 40px;
}
@media (max-width: 992px) {
  #about {
    height: fit-content;
    align-items: center;
    padding: 3rem;
    padding-top: 5rem;
  }
}
@media (min-width: 992px) {
  .isi {
    padding-top: 2rem;
    padding-left: 6rem;
  }
  #resume {
    padding-left: 3rem;
  }
}
/* Akhir About */

/* Awal galery */
#galery {
  padding-top: 5rem;
  background-color: #ffffff;
  background-image: linear-gradient(180deg, #ffffff 0%, #6284ff 50%, #ff0000 100%);
  width: 100%;
  height: fit-content;
  padding-left: 70px;
  background-size: contain;
}
.card {
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  #galery {
    align-items: center;
    padding: 3rem;
    padding-top: 5rem;
  }
}
@media (min-width: 992px) {
}
/* Akhir galery */

/* Awal Skill */
#skills {
  padding-top: 5rem;
  background-image: url(../bahan/img/background1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.skills .progress {
  height: 50px;
  display: block;
  background: none;
}
.skills-content {
  padding-left: 70px;
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 4px 0;
  /* text-transform: uppercase; */
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #45505b;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #f2f3f5;
}

.skills .progress-bar {
  height: 10px;
  background-color: #0b05bba0;
}
@media (max-width: 992px) {
  #skills {
    height: fit-content;
  }
}
@media (min-width: 992px) {
  #skills {
    height: 100%;
  }
}
/* Akhir Skill */

/* Awal Contact */
#contact {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 5rem;
  background-image: url(../bahan/img/9-min.jpg);
  height: fit-content;
}
.contact .info-box {
  color: #000000;
  padding: 20px;
  width: 100%;
  background: rgba(140, 206, 215, 0.462);
}

.contact .info-box i.bx {
  font-size: 24px;
  color: #ffffff;
  border-radius: 50%;
  padding: 14px;
  float: left;
  background: rgba(0, 0, 0, 0.1);
}

.contact .info-box h3 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.838);
  font-weight: 700;
  margin: 10px 0 8px 68px;
}

.contact .info-box p {
  padding: 0;
  color: rgba(255, 255, 255, 0.789);
  line-height: 24px;
  font-size: 14px;
  margin: 0 0 0 68px;
}
.contact .info-box .social-links {
  margin: 0px 0 0 68px;
  display: flex;
}
.contact .info-box .social-links a {
  font-size: 18px;
  line-height: 1;
}
#contact .social-links a .bx:hover {
  background-color: #8ffd98e4;
  color: #000000;
}
#contact .bx:hover {
  background-color: #8ffd98e4;
  color: #000000;
}

@media (max-width: 992px) {
  #contact {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: fit-content;
    padding-right: 3rem;
    padding-left: 3rem;
    height: fit-content;
  }
  .skills-content {
    align-items: center;
    padding: 3rem;
  }
}
@media (min-width: 992px) {
  #contact {
    /* height: 100%; */
    padding-left: 8rem;
    padding-right: 3rem;
  }
}

/* Akhir Contact */

/* nama bergerak */
.ml9 {
  position: relative;
  font-weight: 200;
  font-size: 4em;
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}

.ml11 {
  font-weight: 600;
  font-size: 3.5em;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: rgb(255, 8, 8);
  transform-origin: 0 50%;
}

.ml11 .line1 {
  top: 0;
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}
.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #45505b;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #0563bb;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}
/* akhir nama bergerak */

/* Awal Footer  */
.footer {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  line-height: 50px;
  background: transparent;
  text-align: center;
  color: #fff;
}
/* Akhir Footer  */
